@model IEnumerable<CollectionViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../css/Pages.css" />
    <link rel="stylesheet" href="../css/Pages2.css" />

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet"
          href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../SiteImages/logo.png" alt="" />
            </div>

            <span class="logo_name">Treasure Tracker</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a asp-controller="Pages" asp-action="Dashboard">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">@_localization.Getkey("dashboard")</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Pages" asp-action="CategoriesList">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">@_localization.Getkey("category")</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Pages" asp-action="CollectionsList">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">@_localization.Getkey("nav_collections")</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Pages" asp-action="PerCollectionsList">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">@_localization.Getkey("my_collection")</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">@_localization.Getkey("settings")</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Pages" asp-action="UsersList">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">@_localization.Getkey("users_list")</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here..." />
            </div>

            <img src="../SiteImages/profile-pic.jpg" alt="" />
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">My Collections</span>
                </div>
                <div class="add__btn__box">
                    <button class="add__btn"><a asp-controller="Pages" asp-action="AddCollection">Add collection</a></button>
                </div>
            </div>

            <div class="col-md-8">
                @foreach (var item in Model)
                {
                    var photo = "../images/" + (item.ImageUrl ?? "profile-pic.jpg");
                    <div class="user-row">
                        <div class="user-avatar">
                            <img src="@photo" alt="User Avatar">
                        </div>
                        <div class="user-info">
                            <h3>@item.Name</h3>
                            <p>
                                @if (item.Description.Length > 100)
                                {
                                    @item.Description.Substring(0, 100)
                                }
                                else
                                {
                                    @item.Description
                                }
                                ...
                            </p>
                        </div>
                        <div class="delete-button">
                            <button>Delete</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

    <script src="../js/Page.js"></script>
</body>
</html>
