@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../css/Pages.css" />
    <link rel="stylesheet" href="../css/Pages2.css" />

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet"
          href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <title>User Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../SiteImages/logo.png" alt="" />
            </div>

            <span class="logo_name">Treasure Tracker</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a asp-controller="UserPage" asp-action="Dashboard">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="UserPage" asp-action="Collections">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">My collection</span>
                    </a>
                </li>
                <li>
                    <a href="users.html">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Settings</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here..." />
            </div>

            <img src="images/profile.jpg" alt="" />
        </div>
        <div class="dash-content">
            <div class="overview users__title__box">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Users</span>
                </div>
                <div class="add__btn__box">
                    <button class="add__btn"><a asp-controller="" asp-action="">Add collection</a></button>
                </div>
            </div>

            <div class="col-md-8">
                <h3 class="text-white">Nimadfi</h3>
@* 
                 @foreach (var item in Model.leftSide.Reverse())
                { 
                    var photo = "~/images/" + (item.ImageUrl ?? "logo.jpg");

                    <div class="card mt-3 custom-card">
                        <a href="@Url.Action("Details", "Home", new { id = item.Id })">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="@photo" class="img-fluid custom-img" asp-append-version="true" />
                                </div>
                                <div class="col-md-8 mt-1">

                                    <p> @item.CreatedAt.ToString("MMM d, yyyy")</p>

                                    <h3 class="card-title mt-1">@item.Title</h3>
                                    <p>
                                        @if (item.Description.Length > 100)
                                        {
                                            @item.Description.Substring(0, 100)
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                        ...
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }  *@
            </div>
         
        </div>
       
    </section>

    <script src="../js/Page.js"></script>
</body>
</html>
